button {
    padding: 8%;
}

#calculator {
    width: 400px;
    background-color: pink;
    height: 600px;
    border-radius: 5%;
    padding-top: 3%;
}

#screen {
    background-color: darkslategray;
    height: 20%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    color: white;
    font-size: 2rem;
}

#screen p {
    text-align: center;
    color: white;
    font-size: 2rem;
    margin:0%;
    padding-top: 15%;
}
